.error-container {
  display: flex;
  height: 100vh;
  font-size: 6em;
  color: #FFFFFF;
  font-weight: 100;
  background: #2980b9;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  
  span {
    padding: 0 5vw;
  }
}